{% load people_counter_extras %}

<div class="overflow-x-scroll overflow-y-hidden max-h-150 rounded-md shadow-md border border-sky-900/20">
  <table class="w-full bg-sky-100">
    <thead>
      <tr class="border-b border-sky-200">
        <th class="p-3 text-sm text-left font-bold">Fecha</th>
        <th class="p-3 text-sm text-left font-bold">Día</th>
        {% for entrance in entrances_sorted %}
          <th class="p-3 text-sm text-left font-bold text-nowrap">{{ entrance }} (E)</th>
          <th class="p-3 text-sm text-left font-bold text-nowrap">{{ entrance }} (S)</th>
        {% endfor %}
        <th class="p-3 text-sm text-left font-bold text-nowrap">Total entradas</th>
        <th class="p-3 text-sm text-left font-bold text-nowrap">Total salidas</th>
      </tr>
    </thead>
    <tbody>
      {% for day in days_sorted %}
        <tr class="odd:bg-sky-50 even:bg-white">
          <td class="p-2 text-sm text-nowrap">{{ day }}</td>
          <td class="p-2 text-sm">{{ day|get_day_name }}</td>
          {% for entrance in entrances_sorted %}
            <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'entran'|default:0 }}</td>
            <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'salen'|default:0 }}</td>
          {% endfor %}
          <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'enter' }}</td>
          <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'exit' }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr class="bg-sky-200">
        <td></td>
        <td class="p-3 text-sm text-left font-bold">Total</td>
        {% for entrance in entrances_sorted %}
          <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_enter'|default:0 }}</td>
          <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_exit'|default:0 }}</td>
        {% endfor %}
        <td class="p-2 text-sm text-right font-bold">{{ total_total_enter }}</td>
        <td class="p-2 text-sm text-right font-bold">{{ total_total_exit }}</td>
      </tr>
    </tfoot>
  </table>
</div>
