{% load people_counter_extras %}

{% if total_days %}
  <div class="overflow-x-scroll rounded border border-sky-800/20">
    <table class="w-full">
      <tr class="bg-sky-200">
        <th class="text-nowrap text-sm font-semibold p-2">Fecha</th>
        <th class="text-nowrap text-sm font-semibold p-2">Día</th>
        {% for entrance in entrances_sorted %}
          <th class="text-nowrap text-sm font-semibold p-2">{{ entrance }}</th>
        {% endfor %}
        <th class="text-nowrap text-sm font-semibold p-2">Total</th>
      </tr>
      {% for day in days_sorted %}
        <tr class="odd:bg-sky-50 even:bg-white">
          <td class="p-2 text-sm text-nowrap">{{ day }}</td>
          <td class="p-2 text-sm">{{ day|get_day_name }}</td>
          {% for entrance in entrances_sorted %}
            {% if direction == 'entran' %}
              <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'entran'|default:0 }}</td>
            {% else %}
              <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'salen'|default:0 }}</td>
            {% endif %}
          {% endfor %}
          {% if direction == 'entran' %}
            <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'enter' }}</td>
          {% else %}
            <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'exit' }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr class="bg-sky-200">
        <td></td>
        <td class="p-3 text-sm text-left font-bold">Total</td>
        {% for entrance in entrances_sorted %}
          {% if direction == 'entran' %}
            <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_enter'|default:0 }}</td>
          {% else %}
            <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_exit'|default:0 }}</td>
          {% endif %}
        {% endfor %}
        {% if direction == 'entran' %}
          <td class="p-2 text-sm text-right font-bold">{{ total_total_enter }}</td>
        {% else %}
          <td class="p-2 text-sm text-right font-bold">{{ total_total_exit }}</td>
        {% endif %}

        {% comment %} <td class="p-2 text-sm text-right font-bold">{{ total_total_exit }}</td> {% endcomment %}
      </tr>
    </table>
  </div>
{% else %}
  <p class="p-4 bg-gray-100 w-full text-sm font-semibold rounded">No se encontraron datos para este mes.</p>
{% endif %}

<!--                                                                                    
  <div class="overflow-x-scroll overflow-y-hidden max-h-150 rounded-md shadow-md border border-sky-900/20">
    <table class="w-full bg-sky-100">
      <thead>
        <tr class="border-b border-sky-200">
          <th class="p-3 text-sm text-left font-bold">Fecha</th>
          <th class="p-3 text-sm text-left font-bold">Día</th>
          {% for entrance in entrances_sorted %}
            <th class="p-3 text-sm text-left font-bold text-nowrap">{{ entrance }} (E)</th>
            {% comment %} <th class="p-3 text-sm text-left font-bold text-nowrap">{{ entrance }} (S)</th> {% endcomment %}
          {% endfor %}
          <th class="p-3 text-sm text-left font-bold text-nowrap">Total entradas</th>
          {% comment %} <th class="p-3 text-sm text-left font-bold text-nowrap">Total salidas</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for day in days_sorted %}
          <tr class="odd:bg-sky-50 even:bg-white">
            <td class="p-2 text-sm text-nowrap">{{ day }}</td>
            <td class="p-2 text-sm">{{ day|get_day_name }}</td>
            {% for entrance in entrances_sorted %}
              <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'entran'|default:0 }}</td>
              {% comment %} <td class="p-2 text-sm text-right">{{ table|get_item:entrance|get_item:day|get_item:'salen'|default:0 }}</td> {% endcomment %}
            {% endfor %}
            <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'enter' }}</td>
            {% comment %} <td class="p-2 text-sm text-right font-semibold">{{ total_days|get_item:day|get_item:'exit' }}</td> {% endcomment %}
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="bg-sky-200">
          <td></td>
          <td class="p-3 text-sm text-left font-bold">Total</td>
          {% for entrance in entrances_sorted %}
            <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_enter'|default:0 }}</td>
            {% comment %} <td class="p-2 text-sm text-right font-semibold">{{ table|get_item:entrance|get_item:'total_exit'|default:0 }}</td> {% endcomment %}
          {% endfor %}
          <td class="p-2 text-sm text-right font-bold">{{ total_total_enter }}</td>
          {% comment %} <td class="p-2 text-sm text-right font-bold">{{ total_total_exit }}</td> {% endcomment %}
        </tr>
      </tfoot>
    </table>
  </div>
                                                                                    -->
