{% extends 'core/base.html' %}

{% block content %}
  <section class="py-8 px-4 lg:px-16 m-auto">
    {% if user.is_staff %}
      <div hx-get="{% url 'upload-file' %}" hx-trigger="load" class=""></div>

      <hr class="my-4 border-gray-300" />
    {% endif %}

    <div>
      <form hx-get="{% url 'entrance' %}" hx-trigger="load, change from:#entrance-filter, change from:#day, change from:#week, change from:#max-date" hx-target="#entrance" class="grid sm:flex items-center gap-1" id="filter-form">
        <select name="entrance" id="entrance-filter" class="border border-gray-200 rounded p-1 text-sm h-[38px] pr-8">
          <option value="all">Todas las entradas</option>
          {% for entrance in entrances %}
            <option value="{{ entrance.id }}">{{ entrance.name }}</option>
          {% endfor %}
        </select>
        <div class="border border-gray-200 rounded h-[38px] flex items-center">
          <label class="text-sm p-2" for="max-date">Día:</label>
          <input class="w-full h-full p-1 text-sm" type="date" name="max-date" id="max-date" value="{{ yesterday|date:'Y-m-d' }}" max="{{ yesterday|date:'Y-m-d' }}" />
        </div>
        <div class="flex p-0.5 gap-1 border border-gray-200 rounded w-fit">
          <div>
            <input class="hidden peer" type="radio" name="range" id="day" value="day" checked />
            <label class="cursor-pointer block p-2 text-xs font-bold text-gray-500 rounded peer-checked:bg-gray-50" for="day">1D</label>
          </div>
          <div>
            <input class="hidden peer" type="radio" name="range" id="week" value="week" />
            <label class="cursor-pointer block p-2 text-xs font-bold text-gray-500 rounded peer-checked:bg-gray-50" for="week">7D</label>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div id="entrance" class="!w-full lg:flex mb-4"></div>
      <div>
        <div>
          <form action="{% url 'export-entrances-month' %}" hx-get="{% url 'entrances-month' %}" hx-trigger="load, change" hx-target="#entrances-month" class="flex items-center gap-1 mb-2" id="form-month">
            <input class="rounded border p-2 text-sm border-gray-300 h-10" name="year_month" type="month" value="{{ year_month }}" />
            <div class="border border-gray-300 flex rounded p-0.5 h-10">
              <div class="h-full">
                <input type="radio" id="option1" name="direction" value="entran" class="sr-only peer" checked />
                <label for="option1" class="inline-flex items-center px-2 py-1 text-sm rounded h-full cursor-pointer peer-checked:bg-sky-800/70 peer-checked:text-white">Entradas</label>
              </div>
              <div class="h-full">
                <input type="radio" id="option2" name="direction" value="salen" class="sr-only peer" />
                <label for="option2" class="inline-flex items-center px-2 py-1 text-sm rounded h-full cursor-pointer peer-checked:bg-sky-800/70 peer-checked:text-white">Salidas</label>
              </div>
            </div>
            <button class="text-sm py-1 px-4 bg-sky-700 text-white rounded hover:bg-sky-800 cursor-pointer h-9">Exportar .xlsx</button>
          </form>
        </div>
        <div id="entrances-month"></div>
      </div>
    </div>
  </section>
{% endblock %}
