{% extends 'core/base.html' %}

{% block content %}
  <section class="py-8 px-4 max-w-6xl m-auto">
    {% if user.is_staff %}
      <div hx-get="{% url 'upload-file' %}" hx-trigger="load" class=""></div>

      <hr class="my-4 border-gray-300" />
    {% endif %}

    <div>
      <form hx-get="{% url 'entrance' %}" hx-trigger="load, change from:#entrance-filter, change from:#day, change from:#week, change from:#max-date" hx-target="#entrance" class="flex items-center gap-1" id="filter-form">
        <select name="entrance" id="entrance-filter" class="border border-gray-200 rounded p-1 text-sm h-[38px] pr-8">
          <option value="all">Todas las entradas</option>
          {% for entrance in entrances %}
            <option value="{{ entrance.id }}">{{ entrance.name }}</option>
          {% endfor %}
        </select>
        <div class="border border-gray-200 rounded h-[38px] flex items-center">
          <label class="text-sm p-2" for="max-date">Día:</label>
          <input class="h-full p-1 text-sm" type="date" name="max-date" id="max-date" value="{{ yesterday|date:'Y-m-d' }}" max="{{ yesterday|date:'Y-m-d' }}" />
        </div>
        <div class="flex p-0.5 gap-1 border border-gray-200 rounded">
          <div>
            <input class="hidden peer" type="radio" name="range" id="day" value="day" checked />
            <label class="cursor-pointer block p-2 text-xs font-bold text-gray-500 rounded peer-checked:bg-gray-50" for="day">1D</label>
          </div>
          <div>
            <input class="hidden peer" type="radio" name="range" id="week" value="week" />
            <label class="cursor-pointer block p-2 text-xs font-bold text-gray-500 rounded peer-checked:bg-gray-50" for="week">7D</label>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div id="entrance" class="!w-full lg:flex mb-4"></div>
      <div hx-get="{% url 'entrances' %}" hx-trigger="load, change from:#day, change from:#week" hx-include="#filter-form"></div>
    </div>
  </section>
{% endblock %}
